@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Frosty white background */
    color: black;
}

header {
    color: black;
    padding: 30px;
}

h2 {
    margin: 0;
}

.container {
    margin: 20px 0;
    text-align: left;
}

#upload-btn {
    padding: 20px;
    background-color: black;
    color: #f5c25a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px;
    font-weight: bold;
}

#upload-btn:hover {
    background-color: #333;
}

#image-area {
    margin: 20px 35px;
    float: left;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border: 2px solid black;
}

#image-preview {
    max-width: 100%;
    max-height: 100%;
    display: none; /* Initially hide the image */
}

#select-image-msg {
    font-size: 18px;
    margin-top: 20px;
}

#color-palette {
    margin-top: 20px;
    text-align: center;
    background-color: white; /* Frosty white background */
    padding: 20px; /* Add padding for better visual appearance */
}

.color-box {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#download-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: black;
    color: #f5c25a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

#download-btn:hover {
    background-color: #333;
}
