@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f5f9; /* Frosty white background */
    color: #333; /* Dark text color for better contrast */
}

header {
    color: #333; /* Dark text color for better contrast */
    padding: 30px;
}

h2 {
    margin: 0;
}

.container {
    margin: 20px 0;
    text-align: left;
}

#upload-btn {
    padding: 20px;
    background-color: #333; /* Dark color for contrast */
    color: #f0f5f9; /* Frosty white text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px;
    font-weight: bold;
}

#upload-btn:hover {
    background-color: #555; /* Darker color on hover */
}

#image-area {
    margin: 20px 35px;
    float: left; 
    width: 300px;
    height: 300px;
    overflow: hidden;
    border: 5px solid #333; /* Dark border */
}

#image-preview {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto; /* Center the image horizontally */
}


#select-image-msg {
    font-size: 18px;
    margin-top: 20px;
}

#color-palette {
    margin-top: 20px;
    text-align: center;
}

.color-box {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}